# **Variables Categoricas** --> **Numericas**

## Lectura

In [ ]:
# Librerias
import pandas as pd

In [22]:
# Lectura de datos
ruta = "../data/train.csv"
df_train = pd.read_csv(ruta)
df_train.head()

,TIENDA_ID,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA,DATASET
0,126,1,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD,TRAIN
1,681,1,C,Hogar,128.13,13,0,25.73571,-100.18086,Hogar Reunión,UT_DENSIDAD,TRAIN
2,117,1,C,Base,87.62,11,11,25.71883,-100.19133,Hogar Reunión,UT_DENSIDAD,TRAIN
3,682,1,C,Hogar,90.70,13,0,25.66952,-100.20744,Hogar Reunión,UT_DENSIDAD,TRAIN
4,275,1,C,Hogar,95.30,13,6,25.73766,-100.16116,Hogar Reunión,UT_DENSIDAD,TRAIN

In [23]:
# Eliminamos columnas innecesarias
df_train_2 = df_train.drop(columns=['TIENDA_ID', 'DATASET'])
df_train_2.head()

,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,ENTORNO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,SEGMENTO_MAESTRO_DESC,LID_UBICACION_TIENDA
0,1,BC,Hogar,127.42,13,7,25.69107,-100.21261,Hogar Reunión,UT_DENSIDAD
1,1,C,Hogar,128.13,13,0,25.73571,-100.18086,Hogar Reunión,UT_DENSIDAD
2,1,C,Base,87.62,11,11,25.71883,-100.19133,Hogar Reunión,UT_DENSIDAD
3,1,C,Hogar,90.70,13,0,25.66952,-100.20744,Hogar Reunión,UT_DENSIDAD
4,1,C,Hogar,95.30,13,6,25.73766,-100.16116,Hogar Reunión,UT_DENSIDAD

## NIVELSOCIOECONOMICO_DES

In [24]:
# Nivel Socioeconomico
niveles_unicos = df_train_2['NIVELSOCIOECONOMICO_DES'].value_counts(dropna=False).reset_index()
niveles_unicos.columns = ['Categoria', 'Frecuencia']
niveles_unicos

  Categoria  Frecuencia
0         C         670
1         B          92
2        BC          73
3        CD          61
4        AB          31
5         D          16
6         A           8

In [ ]:
# Ordinal encoding
orden_nivel = {
    'A': 1,
    'AB': 2,
    'B': 3,
    'BC': 4,
    'C': 5,
    'CD': 6,
    'D': 7
}

# Aplicamos el mapeo al dataframe
df_train_2['NIVELSOCIOECONOMICO_DES'] = df_train_2['NIVELSOCIOECONOMICO_DES'].astype(str).map(orden_nivel)

# Verificamos que la transformacion se haya aplicado correctamente
df_train_2[['NIVELSOCIOECONOMICO_DES']].head(10)

   NIVELSOCIOECONOMICO_DES
0                        4
1                        5
2                        5
3                        5
4                        5
5                        5
6                        5
7                        5
8                        5
9                        5

## ENTORNO_DES

In [ ]:
# One-Hot Encoding 
df_train_3 = pd.get_dummies(df_train_2, columns=['ENTORNO_DES'], prefix='ENTORNO')

# Verificamos que se hayan creado las nuevas columnas correctamente
df_train_3.filter(like='ENTORNO_').head(10)

   ENTORNO_Base  ENTORNO_Hogar  ENTORNO_Peatonal  ENTORNO_Receso
0         False           True             False           False
1         False           True             False           False
2          True          False             False           False
3         False           True             False           False
4         False           True             False           False
5          True          False             False           False
6         False          False             False            True
7         False           True             False           False
8         False           True             False           False
9          True          False             False           False

## SEGMENTO_MAESTRO_DESC

In [ ]:
# Segmento Mestro
segmento_unicos = df_train_3['SEGMENTO_MAESTRO_DESC'].value_counts(dropna=False).reset_index()
segmento_unicos.columns = ['Categoria', 'Frecuencia']
segmento_unicos

          Categoria  Frecuencia
0     Hogar Reunión         609
1    Parada Técnica         143
2       Oficinistas          96
3           Clásico          69
4  Barrio Competido          27
5               NaN           7

In [ ]:
# Reemplazamos NaN por "Missing" en SEGMENTO_MAESTRO_DESC
df_train_3['SEGMENTO_MAESTRO_DESC'] = df_train_3['SEGMENTO_MAESTRO_DESC'].fillna("Missing")

# Aplicamos one-hot encoding
df_train_4 = pd.get_dummies(df_train_3, columns=['SEGMENTO_MAESTRO_DESC'], prefix='SEGMENTO')

# Verificamos las nuevas columnas generadas
df_train_4.filter(like='SEGMENTO_').head(10)

,SEGMENTO_Barrio Competido,SEGMENTO_Clásico,SEGMENTO_Hogar Reunión,SEGMENTO_Missing,SEGMENTO_Oficinistas,SEGMENTO_Parada Técnica
0,False,False,True,False,False,False
1,False,False,True,False,False,False
2,False,False,True,False,False,False
3,False,False,True,False,False,False
4,False,False,True,False,False,False
5,False,False,False,False,True,False
6,False,False,False,False,True,False
7,False,False,True,False,False,False
8,False,False,True,False,False,False
9,False,False,True,False,False,False

## LID_UBICACION_TIENDA

In [ ]:
# Ubicacion Tienda
ubicacion_unicos = df_train_4['LID_UBICACION_TIENDA'].value_counts(dropna=False).reset_index()
ubicacion_unicos.columns = ['Categoria', 'Frecuencia']
ubicacion_unicos

              Categoria  Frecuencia
0           UT_DENSIDAD         532
1  UT_TRAFICO_VEHICULAR         216
2         UT_GAS_URBANA         102
3      UT_CARRETERA_GAS          57
4   UT_TRAFICO_PEATONAL          44

In [ ]:
# One-Hot Encoding 
df_train_5 = pd.get_dummies(df_train_4, columns=['LID_UBICACION_TIENDA'], prefix='UBICACION')

# Verificamos las nuevas columnas generadas
df_train_5.filter(like='UBICACION_').head(10)

,UBICACION_UT_CARRETERA_GAS,UBICACION_UT_DENSIDAD,UBICACION_UT_GAS_URBANA,UBICACION_UT_TRAFICO_PEATONAL,UBICACION_UT_TRAFICO_VEHICULAR
0,False,True,False,False,False
1,False,True,False,False,False
2,False,True,False,False,False
3,False,True,False,False,False
4,False,True,False,False,False
5,False,False,True,False,False
6,False,False,False,True,False
7,False,True,False,False,False
8,False,True,False,False,False
9,False,False,False,False,True

## Numeric Train Dataset

In [ ]:
# Visualizamos el dataset final
df_train_5.head(10)

,PLAZA_CVE,NIVELSOCIOECONOMICO_DES,MTS2VENTAS_NUM,PUERTASREFRIG_NUM,CAJONESESTACIONAMIENTO_NUM,LATITUD_NUM,LONGITUD_NUM,ENTORNO_Base,ENTORNO_Hogar,ENTORNO_Peatonal,...,SEGMENTO_Clásico,SEGMENTO_Hogar Reunión,SEGMENTO_Missing,SEGMENTO_Oficinistas,SEGMENTO_Parada Técnica,UBICACION_UT_CARRETERA_GAS,UBICACION_UT_DENSIDAD,UBICACION_UT_GAS_URBANA,UBICACION_UT_TRAFICO_PEATONAL,UBICACION_UT_TRAFICO_VEHICULAR
0,1,4,127.42,13,7,25.69107,-100.21261,False,True,False,...,False,True,False,False,False,False,True,False,False,False
1,1,5,128.13,13,0,25.73571,-100.18086,False,True,False,...,False,True,False,False,False,False,True,False,False,False
2,1,5,87.62,11,11,25.71883,-100.19133,True,False,False,...,False,True,False,False,False,False,True,False,False,False
3,1,5,90.70,13,0,25.66952,-100.20744,False,True,False,...,False,True,False,False,False,False,True,False,False,False
4,1,5,95.30,13,6,25.73766,-100.16116,False,True,False,...,False,True,False,False,False,False,True,False,False,False
5,1,5,116.07,13,0,25.70486,-100.15613,True,False,False,...,False,False,False,True,False,False,False,True,False,False
6,1,5,78.48,13,0,25.67955,-100.24328,False,False,False,...,False,False,False,True,False,False,False,False,True,False
7,1,5,100.58,12,7,25.70058,-100.20180,False,True,False,...,False,True,False,False,False,False,True,False,False,False
8,1,5,73.24,13,0,25.67344,-100.26084,False,True,False,...,False,True,False,False,False,False,True,False,False,False
9,1,5,107.23,13,0,25.68419,-100.22138,True,False,False,...,False,True,False,False,False,False,False,False,False,True

In [39]:
# Guardamos el dataset transformado
ruta_salida = "../data/train_numerico.csv"
df_train_5.to_csv(ruta_salida, index=False)